@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes pulse-image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
.horizontal-scroll {
  height: 400px; /* Fixní výška odpovídající kartám */
  overflow: hidden; /* Skrytí přetečení */
}

.horizontal-content {
  display: flex;
  gap: 1.5rem; /* Rozestupy mezi kartami */
}

.box {
  transition: transform 0.3s ease-in-out; /* Animace při změně velikosti */
}
.animate-pulse-image {
  animation: pulse-image 2s infinite ease-in-out;
}
body {
  overflow: 'visible';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.project-card {
  opacity: 0; 
}

.project-list {
  margin-top: 50px;
  padding-bottom: 50px;
}